.nav {
  text-align: center;
  margin-bottom: 10px;

}

.nav > h1 {
  font-size: 40px;
  color: azure;
  cursor: pointer;
}

/* @media (min-width: 300px) and (max-width: 580px)  */
@media (min-width: 100px) and (max-width: 580px) {
  .nav > h1 {
    margin-top: 15px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px
  }
}
